<header class="header">
    <div class="header__main">
        <h1 class="main_h1" [routerLink]="[ '/home' ]" routerLinkActive="active">iShop</h1>
        <h2 class="main_h2" [routerLink]="[ '/iphone' ]" routerLinkActive="active">iPhone</h2>
        <h2 class="main_h2" [routerLink]="[ '/ipad' ]" routerLinkActive="active">iPad</h2>
        <h2 class="main_h2" [routerLink]="[ '/mac' ]" routerLinkActive="active">Mac</h2>
        <h2 class="main_h2" [routerLink]="[ '/watch' ]" routerLinkActive="active">Apple Watch</h2>
        <h2 class="main_h2" [routerLink]="[ '/gadgets' ]" routerLinkActive="active">Gadgets</h2>
        <h2 class="main_h2" [routerLink]="[ '/accessories' ]" routerLinkActive="active">Accessories</h2>
        <h2 class="main_h2" [routerLink]="[ '/basket' ]" routerLinkActive="active">Basket</h2>
        <h2 class="main_h2" [routerLink]="[ '/admin' ]" routerLinkActive="active">Admin</h2>
    </div>
</header>